/*
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Roboto Thin', sans-serif;
    font-size: 16px;
}*/

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 7rem);
    margin-top: auto;
    padding: 1rem 0;
}

.login-container > article {
    padding: 0;
    overflow: hidden;
}

.login-container > article div {
    padding: 1rem;
}

@media (min-width: 576px) {
    .login-container {
        padding: 1.25rem 0;
    }

    .login-container > article div {
        padding: 1.25rem;
    }
}

@media (min-width: 768px) {
    .login-container {
        padding: 1.5rem 0;
    }

    .login-container > article div {
        padding: 1.5rem;
    }
}

@media (min-width: 992px) {
    .login-container {
        padding: 1.75rem 0;
    }

    .login-container > article div {
        padding: 1.75rem;
    }
}

@media (min-width: 1200px) {
    .login-container {
        padding: 2rem 0;
    }

    .login-container > article div {
        padding: 2rem;
    }
}

/* Hero Image */
.hero-image {
    display: none;
    background-color: #374956;
    background-image: url("https://source.unsplash.com/8jeWeKdygfk/1000x1200");
    background-position: center;
    background-size: cover;
}

@media (min-width: 992px) {
    .hero-image {
        display: block;
    }
}